* {
    box-sizing: border-box;
}

body {
    background-color: #202020;
    font-family: helvetica, 'sans serif';
}

#page-title {
    text-align: center;
    color: #FFF;
}

#new-book {
    position: fixed;
    left: 30px;
    width: 100px;
    height: 40px;
    background-color: #a2c7ff;
    border: solid 3px #0457d3;
    border-radius: 5px;
}

#book-details {
    position: fixed;
    z-index: 1;
    left: 30px;
    width: 200px;
    height: 200px;
    background-color: #FFF;
}

.hidden {
    display: none;
}

#library {
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    min-width: 200px;
    max-width: 200px;
    height: 230px;
    margin: 30px;
    background-color: #ffc760;
    box-shadow: 10px 15px #357796;
}

h2 {
    text-align: center;
    font-size: 1rem;
}

p {
    text-align: center;
}

.read {
    background-color: #137931;
}

.not-read {
    background-color: #b30808;
}

.status-btn {
    position: absolute;
    z-index: 0;
    left: 70px;
    bottom: 30px;
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 2px;
}