@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff6df;
    font-family: helvetica, 'sans serif';
}

.page-title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    background-color: #441111;
    margin-bottom: 20px;
}

#page-title {
    color: #FFF;
    font-family: 'Abril Fatface';
    font-size: 60px;
    font-weight: normal;
    text-decoration: underline;
}

#new-book {
    position: fixed;
    left: 50px;
    width: 100px;
    height: 40px;
    background-color: #8396ec;
    border: solid 0.5px #000;
    font-size: 0.9rem;
}

#book-details {
    position: fixed;
    border-radius: 3px;
    z-index: 1;
    left: 50px;
    width: 200px;
    height: 170px;
    background-color: #FFF;
}

.hidden {
    display: none;
}

.book-item {
    margin: 4px;
    padding: 5px;
}

#library {
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    min-width: 200px;
    max-width: 200px;
    height: 230px;
    margin: 30px;
    background-color: #ffc760;
    box-shadow: 5px 5px #357796;
    border-radius: 3px;
}

h2 {
    text-align: center;
    font-size: 1rem;
}

p {
    text-align: center;
}

.remove-btn {
    position: relative;
    top: 5px;
    left: 5px;
    background-color: #eb6d6d;
    border: solid 1px #b82b2b;
}

.read {
    background-color: #66c282;
    border: solid 2px #0a3f1a;
}

.not-read {
    background-color: #e25a5a;
    border: solid 2px #580505;
}

.status-btn {
    position: absolute;
    z-index: 0;
    left: 50px;
    bottom: 30px;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    font-size: 1rem;
}