* {
    box-sizing: border-box;
}

body {
    background-color: #202020;
    font-family: helvetica, 'sans serif';
}

#title {
    text-align: center;
    color: #FFF;
}

#add-book {
    position: fixed;
    right: 100px;
    width: 100px;
    height: 40px;
    background-color: #a2c7ff;
    border: solid 3px #0457d3;
    border-radius: 5px;
}

#library {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}

#card {
    width: 200px;
    height: 230px;
    background-color: #ffc760;
    box-shadow: 10px 15px #357796;
}