* {
    box-sizing: border-box;
}

body {
    background-color: #202020;
}

#title {
    text-align: center;
    color: #FFF;
    font-family: helvetica, 'sans serif';
}

#add-book {
    position: fixed;
    right: 100px;
    width: 100px;
    height: 40px;
    background-color: #a2c7ff;
    border: solid 3px #0457d3;
    border-radius: 5px;
}

#test-card {

}