* {
    box-sizing: border-box;
}

body {
    background-color: #202020;
    font-family: helvetica, 'sans serif';
}

#page-title {
    text-align: center;
    color: #FFF;
}

#new-book {
    position: fixed;
    right: 120px;
    width: 100px;
    height: 40px;
    background-color: #a2c7ff;
    border: solid 3px #0457d3;
    border-radius: 5px;
}

#book-details {
    position: fixed;
    right: 50px;
    width: 200px;
    height: 200px;
    background-color: #FFF;
}

.hidden {
    display: none;
}

#library {
    display: flex;
    margin-top: 40px;
    justify-content: flex-start;
}

.card {
    width: 200px;
    height: 230px;
    margin: 30px;
    background-color: #ffc760;
    box-shadow: 10px 15px #357796;
}