* {
    box-sizing: border-box;
}

body {
    background-color: #202020;
    font-family: helvetica, 'sans serif';
}

#page-title {
    text-align: center;
    color: #FFF;
}

#new-book {
    position: fixed;
    right: 120px;
    width: 100px;
    height: 40px;
    background-color: #a2c7ff;
    border: solid 3px #0457d3;
    border-radius: 5px;
}

#book-details {
    position: fixed;
    right: 50px;
    width: 200px;
    height: 200px;
    background-color: #FFF;
}

.hidden {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

/*hides default HTML checkbox*/
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CCC;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: #FFF;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #068d2f;
}

input:focus + .slider:before {
    box-shadow: 0 0 1px #068d2f;
}

input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

#library {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}

.card {
    width: 200px;
    height: 230px;
    background-color: #ffc760;
    box-shadow: 10px 15px #357796;
}